<footer id="footer">
	<div class="container">
		<ul id="footer-links">
			<li><a href="/book">Book a desk</a></li>
			<li><a href="/bookings">Upcoming bookings</a></li>
			<li><a href="/history">History</a></li>
		</ul>
		<p id="footer-tagline">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam error voluptatem dolore molestiae placeat, deserunt nemo veniam illo neque inventore.</p>
		<p id="footer-copyright">Copyright @ 2017</p>
	</div>
</footer>

<script src="/assets/javascripts/jquery.js">
<script src="/assets/javascripts/bootstrap.min.js"></script>
<script src="/assets/javascripts/select2.min.js"></script>
<script src="/assets/javascripts/main.js"></script>