<html>
<% include components/head %>
<body>
<% include components/header %>

<div class="container">
	<div class="booking-wrapper">
		<h1><%=booking.title%></h1>
		<% include inc/booking-detail %>
	</div>
	
</div>

<% include components/footer %>
</body>
</html>