<html>
<% include components/head %>
<body>
<% include components/header %>

<div class="container">
	<div class="booking-wrapper">
		<h1 style="text-align: center;">Message</h1>
		<% if (message.length > 0) {%>
			<h2 style="text-align: center;"><%=message[0].content%></h2>
		<%}%>
	</div>
	
</div>

<% include components/footer %>
</body>
</html>