<div class="row bs-wizard" style="border-bottom:0;">
   
    <div class="col-xs-3 col-xs-offset-3 bs-wizard-step <%=progress.step1%>">
      <div class="text-center bs-wizard-stepnum">Step 1</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="/book" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">Select Available Desk</div>
    </div>
    
    <div class="col-xs-3 bs-wizard-step <%=progress.step2%>"><!-- complete -->
      <div class="text-center bs-wizard-stepnum">Step 2</div>
      <div class="progress"><div class="progress-bar"></div></div>
      <a href="#" class="bs-wizard-dot"></a>
      <div class="bs-wizard-info text-center">Enter booking's info</div>
    </div>
</div>
<br/>
<br/>